{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!--<section class="content-header">
          <h1>
            Assigment
            <small>Programming in C</small>
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
			<!-- table -->
				<p><a href="new_assignment.py?cid={{cid}}&option=new" role="button" class="btn btn-success ">Create New Assignment &nbsp;<i class="fa fa-plus"></i></a><p>
				
			<div class="box box-warning">
			<div class="box-header">
				<h3 class="box-title">Assignments</h3>
			</div>
			<div class="box-body">
			<table class="table table-bordered table-striped">
  				<tbody>
  					<tr>
  						<th>#</th><th>Title</th><th>Problems</th><th>Start Date</th><th>End Date</th><th>Type</th>
  					</tr>	
  					
  					{% for row in alist %}
  					<tr class="{{row[9]}}">
  						<td>{{row[7]}}</td><td><a href="new_assignment.py?cid={{ row[4] }}&option=edit&aid={{row[0]}}" >{{row[1]}}</a></td><td>{{row[6]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td><td>{{row[5]}}</td>
  					</tr>
  					{% endfor %}
  				</tbody>
			</table>
			<!-- end table -->
			</div>
			</div>
		</section><!-- /.content -->
    {{ super() }}
{% endblock %}
