{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Document
            <small>Programming in C</small>
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
			{{content}}
		
		<a href="javascript:void(0);" NAME="Document Editor" title="Edit content of documents in new window" onClick=window.open("../content_editor.py?edit=links&cid={{cid}}","Ratting","width=850,height=870,0,status=0,");><button type="button" class="btn btn-primary">Edit Document Content</button></a> 
		</section>
	{{ super() }}
{% endblock %}
