{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Enroll Request
            <small>Programming in C</small>
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
        	<div class="box box-success">
        		<div class="box-body">
				    <div class="responsive-table">
				    	<table class="table">
				    		<thead>
				    			<tr>
				    				<th>Name</th><th>Reg No</th><th>Institute</th><th>Email</th><th>Contact</th><th></th>
				    			</tr>
				    		</thead>
				    		<tbody>
				    			<!--
				    				<tr>
				    	            				-->
							{{l}}
				    		</tbody>
				    	</table>
				    </div>{{data}}
				</div>
            </div>
		{{ super() }}
    	<script>
    		function approveEnroll(id)
    		{	
			 document.getElementById(id).setAttribute("disabled", "disabled");

    			$.ajax({
					type: 'POST',
					url: "ajax/approve_enroll.py?cid={{cid}}&id="+id+"",
					dataType: "text",
					success: function(response)
							{
								document.getElementById(id).innerHTML = response;
								document.getElementById(id).setAttribute("disabled", "disabled");
								//$("#"+id).attr('disabled','disabled');
								//alert(response)
								//$(".feedback_panel").hide(); 	
								
							},
							error: function(response){
								$("#"+id).html("Approve");
								$("#"+id).removeAttr('disabled');
						}							
				});
    		}
    	</script>
	
{% endblock %}	
