{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
	 	<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
            <small>Programming in C</small>
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">

          

        </section><!-- /.content -->
   
	{{ super() }}
{% endblock %}
