{% extends "/var/www/html/teacher/base.html" %}
	{% block title %}{{ title }} | NeoScript {%endblock%}
	{% block head %}
		{{ super() }}
		<meta http-equiv="Cache-Control" Content="no-cache, no-store, must-revalidate ,max-age=0,s-maxage=0, proxy revalidate">
		<meta http-equiv ="Pragma" Content="no-cache">
		<meta http-equiv ="Expires" Content="0">	
	{% endblock %}
	{% block content %}
		<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Timeline
            <small>Programming in C</small>
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
			{{content}}
			<hr/>
			<a href="javascript:void(0);" NAME="Timeline Editor" title="Edit content of timeline in new window" onClick=window.open("../content_editor.py?edit=timeline&cid={{cid}}","Ratting","width=850,height=570,0,status=0,");><button type="button" class="btn btn-primary">Edit Timeline</button></a> 
		</section>
	{{ super() }}
{% endblock %}
